rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access strictly to the collections used by the application
    match /bot/{document=**} {
      allow read, write: if true;
    }
    match /logs/{document=**} {
      allow read, write: if true;
    }
    match /coins/{document=**} {
      allow read, write: if true;
    }
    match /messages/{document=**} {
      allow read, write: if true;
    }
    match /results/{document=**} {
      allow read, write: if true;
    }
  }
}
